.what_I_do {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

.what_I_do ul {
  flex-shrink: 0;
  list-style: none;
}

.what_I_do ul li {
  color: #0d0d3f;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.what_I_do ul li::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  right: -20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #0d0d3f;
}

.desc {
  font-size: 16px;
}

.card {
  width: 49%;
}
