.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}

.title-wrap ul {
  flex-shrink: 0;
  list-style: none;
}

.title-wrap ul li {
  color: #0d0d3f;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.title-wrap ul li::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  right: -20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #0d0d3f;
}

.desc {
  font-size: 20px;
}

.card {
  width: 49%;
}

.head_wrap {
  display: flex;
  align-items: center;
}

.logo_wrap {
  flex-shrink: 0;
  padding-right: 20px;
}

.elem_link {
  display: flex;
  align-items: center;
}

.recentProject {
  height: 600px;
}

.recentProject-card {
  width: 60%;
  background-image: url(../image/1.png);
  background-size: 100% 80%;
  background-repeat: no-repeat;
}
